.emoji-mart {
  width: 100% !important;
  background-color: #252526;
}
.emoji-mart-category-label span {
  background-color: #252526;
  color: #999999;
}
.custom-input__outer-Container {
  background-color: #252526;
  border: 3px solid #515152;
  border-top: none;
  position: relative;

  .emoji-bar {
    position: absolute;
    bottom: 75px;
    left: 0;
  }

  .form {
    display: flex;
    border: 1px solid #515152;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 40px;
    height: 60px;
    width: 95%;

    .emoji-icon {
      font-size: 36px;
      display: flex;
      padding-left: 15px;
      color: #999999;
      align-items: center;
      cursor: pointer;
    }

    .input {
      border: none;
      outline: none;
      border-radius: 0;
      padding-left: 20px;
      background-color: #252526;
      color: #999999;
      width: 85%;
      height: 55px;
      font-size: 1.2em;
    }

    input:focus,
    textarea:focus,
    select:focus {
      outline: none;
    }

    .send {
      color: #fff !important;
      text-transform: uppercase;
      text-decoration: none;
      background: #2979ff;
      cursor: pointer;
      padding: 5px;
      display: inline-block;
      padding-top: auto;
      margin: auto 10px;
      border: none;
      border-radius: 40px;
      width: 100px;
      height: 40px;
    }
  }
}
