.emoji-mart {
  width: 100% !important;
}
.custom-input__outer-Container {
  .emoji-bar {
    background-color: red;
    width: 50%;
  }

  .form {
    display: flex;
    border: 2px solid #d3d3d3;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 40px;
    height: 60px;
    width: 95%;

    .emoji-icon {
      font-size: 36px;
      display: flex;
      padding-left: 5px;
      align-items: center;
      cursor: pointer;
    }

    .input {
      border: none;
      outline: none;
      border-radius: 0;
      padding-left: 20px;
      width: 85%;
      height: 55px;
      font-size: 1.2em;
    }

    input:focus,
    textarea:focus,
    select:focus {
      outline: none;
    }

    .send {
      color: #fff !important;
      text-transform: uppercase;
      text-decoration: none;
      background: #2979ff;
      cursor: pointer;
      padding: 5px;
      display: inline-block;
      padding-top: auto;
      margin: auto 10px;
      border: none;
      border-radius: 40px;
      width: 100px;
      height: 40px;
    }
  }
}
