.adminGeneratedContainer {
  text-align: center;
  margin: 15px;

  .adminGeneratedContainer__text {
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
    color: #cfd2d6;
    background-color: #161616;
  }
}

.end {
  justify-content: flex-end;
}
.start {
  justify-content: flex-start;
}
.myMsg {
  display: flex;
  margin: 15px;
  color: #e7e8eb;

  .userMe {
    background-color: #3a3a3a;
  }

  .myMsg__inner {
    border: 1px solid rgb(141, 141, 141);
    border-radius: 10px;
    display: flex;
    max-width: 60%;
    flex-direction: column;

    .myMsg__inner--header {
      display: flex;
      justify-content: flex-start;
      padding: 2px;
      padding-left: 10px;
      text-transform: capitalize;
      border-bottom: 1px solid #292929;
      font-weight: 600;
    }

    .adminGeneratedContainer__text {
      word-wrap: break-word;
      padding: 10px;
      border-radius: 10px;
    }
  }
}
